*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

#header{
    min-height: 15em;
    color: white;
    background-color: #0c1119;
}

#nav{
    padding-top: 1em;
    min-height: 5em;
    color: white;
    list-style: none;
    text-align: right;
    width: 100%;
}

#nav li{
    border-radius: 1em;
    display: inline-block;
    padding-right: 1em;
}

#nav li a{
    font-size: 1.1em;
    text-decoration: none;
    color: gray;
}

#nav li a:hover{
    color: #efefef;

}

.title{
    font-size: 2em;
    text-align: center;
    color: #efefef;
}

#content{
    color: black;
    background-color: #efefef;
    min-height: 22.3em;
}

.subtitle{
    text-decoration: underline;
    text-align: center;
    padding: 1em;
    font-size: 1.4em;
}

.info{
    display: block;
    width: 70%;
    font-size: 1em;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1em;
    text-align: center;
}

#footer{
    min-height: 5em;
    color: white;
    background-color: #0c1119;
}