* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

#head{
    width: 100%;
    text-align: center;
    min-width: 1200px;
    padding-top: 30px;
    display: inline-block;
    font-weight: lighter;
    font-size: 3em;
}

.blink{
    display: inline;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#content{
    color: #525863;
    background-color: #efefef;
    min-height: 22.3em;
    min-width: 1200px;
}

.title{
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c1119;
    opacity: .5;
    width: 299px;
    padding: 3px 0;
    border-radius: 4px;
}

#wrapper{
    max-width: 1400px;
    min-width: 1000px;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;

}

#wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
    width: 30%;
    display: inline-block;
    opacity: .5;
}

.section{
    max-width: 1200px;
    padding-bottom: 100px;
    display: none;
    margin: auto;
    font-size: 1.1em;
    position: relative;
    animation: animate 1s;
}

#about{
    display: block;
}

.text{
    width: 60%;
    margin: 0;
    padding: 0 40px 0 10px;
    display: inline-block;
}

#about-image{
    opacity: 1;
}

@keyframes animate{
    from{opacity:0}
    to{opacity:1}
}

.about-gallery, .projects-gallery, .experience-gallery {
    position: absolute;
    top: 25%;
    margin: 0;
    animation: animate 3s;
}

.buttons-div {
    display: inline-block;
    width: 33%;
    text-align: center;
    position: relative;
    top: -120px;
}

#experience .buttons-div{
    top: -230px;
}

#projects .buttons-div{
    top: -245px;
}

.buttons {
    padding: 5px 10px;
    background-color: gainsboro;
}

.buttons:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}

#footer span{
    margin: 40px;
    display: inline-block;
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#footer{
    min-height: 5em;
    color: #efefef;
    background-color: #283549;
    min-width: 1200px;
    font-size: 1em;
    text-align: center;
}

@media only screen and (min-device-width : 100px) and (max-device-width : 480px) {
    .text{
        width: 90%;
        padding: 0 40px;
    }
    .about-gallery, .projects-gallery, .experience-gallery {
        width: 100%;
        margin: auto;
        animation: animate 3s;
        position: initial;
        text-align: center;
        padding-top: 20px;
    }
}

@media only screen and (max-device-width : 700px){
    .buttons-div{
        position: initial;
        text-align: center;
        width: 100%;
    }
}