*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

#nav{
    color: #525863;
    background-color: #efefef;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

#nav h1{
    padding: 10px 20px;
}

#content{
    color: #525863;
    background-color: #efefef;
    min-height: 22.3em;
}

#footer{
    min-height: 5em;
    color: #efefef;
    background-color: #283549;
}

.title{
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c1119;
    opacity: .5;
    width: 297px;
    padding: 7px 0;
    border-radius: 5px;
}

#wrapper{
    max-width: 1700px;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
    width: 30%;
    display: inline-block;
}

.section{
    max-width: 1200px;
    padding-bottom: 100px;
    display: block;
    margin: auto;
    font-size: 1.1em;
}